<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Recipeasy</a>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li><a href="#" [routerLink]="['/']">Posts</a></li>
            <li><a href="#" [routerLink]="['/add-post']">Add posts</a></li>
            <li><a href="#" [routerLink]="['/login']">Login</a></li>
        </ul>
    </div>
    <div class="uk-navbar-item uk-navbar-right">
        <form action="javascript:void(0)">
            <input class="uk-input uk-form-width-small" type="text" placeholder="Input">
            <button class="uk-button uk-button-default">Button</button>
        </form>
    </div>
</nav>