<div *ngIf="post" class="uk-card uk-margin-small uk-recipeasy-card uk-card-default">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-padding-remove">
                <img class="uk-border-circle" width="40" height="40" [src]="post.user.avatar">
            </div>
            <div class="uk-width-expand">
                <div class="right">
                    <h3 class="uk-card-title uk-margin-remove-bottom uk-text-capitalize">{{ post.user.name }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{ post.location }}</time></p>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <a uk-toggle="target: #modal-example">
                        <span class="uk-pointer" uk-icon="more"></span>
                        <!-- <span class="icon icon-247"></span> -->
                    </a>
                    <!-- This is the modal -->
                    <div id="modal-example" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">Headline</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                <button class="uk-button uk-button-primary" type="button">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-card-media-top">
        <!-- <img [src]="post._postImage" alt="image"> -->
        <div uk-slideshow="animation: scale">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                <ul class="uk-slideshow-items">
                    <li *ngFor="let image of post.images">
                        <img [src]="image" alt="" uk-cover>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        
            </div>
            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
    </div>
    <div class="uk-card-body">
        <section class="uk-media-buttons">
            <div class="right">
                <ul class="uk-hidden-hover uk-iconnav">
                    <a href="#" class="uk-icon-link" uk-icon="heart"></a>
                    <a href="#" class="uk-icon-link" uk-icon="comment"></a>
                    <a href="#" class="uk-icon-link" uk-icon="bookmark"></a>
                </ul>
            </div>
            <div class="left">
                <p>{{ post.likes }} likes</p>
            </div>
        </section>
        
        <section class="uk-body-content">
            <h3 class="uk-card-title"> <span>
                {{ post.user.name }}</span> {{ post.title }}
                <a (click)="toggle = !toggle">More</a>
                <div class="uk-width-expand" [hidden]="toggle" uk-alert>
                    <div uk-grid>
                        <div class="uk-width-expand">
                            {{ post.description }}
                        </div>
                        <div class="uk-grid-auto" *ngIf="isTokenValid">
                            <ul class="uk-hidden-hover uk-iconnav">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="file-edit"></a>
                                <a href="#" class="uk-icon-link" uk-icon="trash"></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </h3>
            <p>View all 1 comments</p>
            <p>
                <span class="uk-text-capitalize">nairoby</span> 
                Ummmm! me encanta <br> 
            </p>
            <p class="uk-margin-small-top">
                <!-- <span class="uk-icon-link" uk-icon="clock"></span>  -->
                {{ post.create }}
            </p>
        </section>
    </div>
    <div class="uk-card-footer">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div uk-grid>
                <div class="uk-width-expand">
                    <input required ngModel name="comment" class="uk-input" type="text" placeholder="Add a comment...">
                </div>
                <div class="uk-width-auto">
                    <button [disabled]="!f.valid" type="submit" class="uk-button uk-button-link" href="#">Publicar</button>
                </div>
            </div>
        </form>
    </div>
</div>