
<div class="uk-grid uk-flex uk-flex-center">


    <div class="uk-width-1-2@m">
        <app-card-post *ngFor="let post of posts; let i = index" [post]="post" [index]="i"></app-card-post>
    </div>
</div>