

<div 
class="uk-card uk-card-default"
style="z-index: 980;" uk-sticky="offset: 30; bottom: #top"
>

<div class="uk-card-header">
    <h3 class="uk-card-title">Do a post</h3>
</div>

<div class="uk-card-body">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="uk-margin">
            <label for="userPhoto">Usuario foto</label>
            <input required ngModel class="uk-input" name="userPhoto" id="userPhoto" type="text" placeholder="User photo">
       </div>
       <div class="uk-margin">
            <label for="userName">Usuario nombre</label>
            <input required ngModel class="uk-input" name="userName" id="userName" type="text" placeholder="Name">
       </div>
       <div class="uk-margin">
           <label for="title">Titulo</label>
           <input required ngModel class="uk-input" name="title" id="title" type="text" placeholder="Title">
       </div>
       <div class="uk-margin">
            <label for="images">Imagenes</label>
            <input required ngModel class="uk-input" name="images" id="image" type="text" placeholder="Url de la imagen seguido por ; si son varias">
       </div>
       <div class="uk-margin">
            <label for="description">Description</label>
            <textarea required ngModel class="uk-textarea" name="description" id="description" rows="4"></textarea>
       </div>
       <div class="uk-margin">
           <div class="uk-button-group">
               <button [disabled]="!f.valid" type="submit" class="uk-button uk-button-primary uk-margin-right">Post</button>
               <button type="button" class="uk-button uk-button-default">Clear</button>
           </div>
       </div>
    </form>
</div>
</div>