/* You can add global styles to this file, and also import other style files */
.uk-pointer {
    cursor: pointer;
}

.uk-notification {
    width: 100%;
}

.isLiked {
    color: #f0506e !important;
    &:hover {
        color: #f0506e !important;
    }
}

a {
    color: #999 !important;
    .icon {
        font-size: 1.1rem !important;
    }
    &:hover {
        color: #666 !important;
        text-decoration: none !important;
    }
}

p, h1, h2, h3, span {
    font-size: 0.8rem !important;
}

.uk-card.uk-recipeasy-card {
    // box-shadow: none;
    // border: 1px solid #bdbdbd;
    .uk-card-header {
        padding: 10px 40px;
        .uk-width-expand {
            display: flex;
            justify-content: space-between;
            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3 {
                    margin: 0;
                    font-size: 1rem;
                    color: #222;
                }
                p{
                    margin: 0;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .uk-card-media-top {
        img {
            width: 100%;
            height: 200px;
        }
    }
    .uk-card-body {
        padding: 0;
        section.uk-media-buttons {
            padding: 0 15px 15px 15px;
            .left {
                p {
                    margin: 0;
                }
            }
        }
        section.uk-body-content {
            padding: 0 15px 15px 15px;
            h3 {
                font-size: 1rem;
                color: #666;
                margin: 0;
                span {
                    color: #222;
                    text-transform: capitalize;
                }
            }
            p {
                margin: 0;
                color: #666;
                span {
                    color: #222;
                }
            }
        }
    }
    .uk-card-footer {
        padding: 10px 20px;
        .uk-width-expand {
            input {
                border: none;
            }
        }
        .uk-width-auto {
            display: flex;
            align-items: center;
                button {
                    font-size: 0.9rem !important;
                    &:hover {
                        text-decoration: none;
                    }
                }
        }
    }
}