[class*='uk-list'] > ::before {
    width: 40px;
}

.uk-card 
{
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
}

.uk-card .uk-card-header 
{
    font-size: .9rem;
    border: none;
}

.uk-card .uk-card-header > div .uk-width-expand
{
    padding-left: 20px;
}

.uk-card .uk-card-header .uk-card-header__user-name
{
    font-weight: bold;
}

.uk-card .uk-card-header .uk-card-header__description,
.uk-card .uk-card-header .uk-card-header__description > div
{
    margin-top: 10px;
}

.uk-card .uk-card-header .uk-card-header__description p
{
    padding-top: 10px;
}

.uk-card .uk-card-body 
{
    padding: 0;
    border: none;
}

.uk-card .uk-card-footer 
{
    // padding: 0;
    border: none;
}

.uk-card .uk-card-footer .uk-list li button
{
    color: #999;
    font-size: .9rem !important;
}

.uk-card .uk-card-footer .uk-list li button:hover
{
    color: #666;
    text-decoration: none;
}

.uk-card .uk-card-footer .uk-list li button span
{
    font-size: 1rem !important;
    // color: #999;
}