

<section class="uk-section">
    
    <div class="uk-container uk-flex uk-flex-center">
        

        
        <div class="uk-card uk-card-default uk-width-1-2">

            <div class="uk-card-header">
                <div uk-grid>
                    <div class="uk-width-auto">
                        <img
                            width="60"
                            height="60"
                            class="uk-border-circle"
                            [src]="user.avatar.profile" 
                            [alt]="user.firstName"
                        >
                    </div><!-- uk-width-auto -->
                    <div class="uk-width-expand">
                        <ul class="uk-list">
                            <li class="uk-text-capitalize uk-flex">
                                <span class="uk-card-header__user-name">{{ user.firstName }} {{ user.lastName }}</span>
                                &nbsp;
                                <span 
                                    *ngIf="user.pvMember" 
                                    class="uk-text-danger"
                                    class="uk-icon uk-icon-image"
                                    style="background-image: url('../../../assets/images/diamond.jpeg');"
                                ></span>
                                <ul *ngIf="user.following" class="uk-list uk-list-disc uk-margin-remove">
                                    <li><a class="uk-flex uk-flex-middle" href="">Siguiendo</a></li>
                                </ul>
                            </li>
                            <li class="uk-margin-remove"> {{ user.works.company }} </li>
                            <li class="uk-margin-remove uk-flex"> 
                                <span class="uk-flex uk-flex-middle" uk-icon="icon: clock"></span>&nbsp;
                                {{ user.create }} 
                            </li>
                        </ul>
                    </div><!-- uk-width-expand -->
                    <div class="uk-width-auto">
                        <a href="#">
                            <span uk-icon="icon: more"></span>
                        </a>
                    </div><!-- uk-width-auto -->
                </div>
                <div class="uk-card-header__description" uk-grid>
                    <p>{{ user.title }}</p>
                    <div class="uk-padding-small-top">
                        <p>{{ user.description }}</p>
                    </div>
                </div>
            </div> <!-- header -->

            <div class="uk-card-body">
                <img src="https://media-exp1.licdn.com/dms/image/C4E22AQEgEE1HG7ZXRQ/feedshare-shrink_800-alternative/0?e=1605139200&v=beta&t=Hr5fsMgh-fPDxGDITIVq0isvgE5Nzip3vBgoZxNkLoA" alt="">
            </div><!-- uk-card-body -->

            <div class="uk-card-footer">
                <div uk-grid>
                    <div class="uk-width-expand@m">
                        <ul class="uk-list uk-flex uk-flex-between">
                            <li><button class="uk-button uk-button-link"> <span class="icon-211"></span> Recomendar</button></li>
                            <li class="uk-margin-remove"><button class="uk-button uk-button-link"> <span class="icon-353"></span> Comentar</button></li>
                            <li class="uk-margin-remove"><button class="uk-button uk-button-link"> <span class="icon-221"></span> Compartir</button></li>
                            <li class="uk-margin-remove"><button class="uk-button uk-button-link"> <span class="icon-224"></span> Enviar</button></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-6@m"></div>
                </div>
            </div><!-- uk-card-footer -->

        </div><!-- Mi tarjeta -->

    </div>
</section> 